{% extends 'layout.html' %}

{% block body %}
    <h1>procedure added succsesfully </h1>
    <a href="/admin_panil"><button>Admin panil</button></a>

    <br>

    
<div>
    <form action="/added_appointment" method="post" id="appointment_form">
        {{appointment_form.hidden_tag()}}

        {{appointment_form.date.label}}
        {{appointment_form.date}}

        {{appointment_form.time}}

        {{appointment_form.selected_patient_name}}

        {{appointment_form.submit(form='appointment_form', value='add appointment')}}

        
    </form>
</div>
   selected patient:    
{{selected_patient_name}}

<br>
patient id: {{patient_id}}


{% endblock %}