{% extends 'layout.html' %}

{% block title %} register {% endblock %}

{% block body %}

    <form method="post">

        {{form.hidden_tag()}}

        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control", id="exampleInputEmail1")}}

        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control", id="exampleInputEmail1")}}

        {{form.gender.label(class="form-label")}}
        {{form.gender(class="form-control", id="exampleInputEmail1")}}

        {{form.speciality.label(class="form-label")}}
        {{form.speciality(class="form-control", id="exampleInputEmail1")}}

        {{form.password.label(class="form-label")}}
        {{form.password(class="form-control", id="exampleInputEmail1")}}

        {{form.submit(class="form-control", id="exampleInputEmail1")}}
        

{% endblock %}