{% extends 'layout.html'%}

{% block title %} admin panel {% endblock %}

{% block body %}
{% if current_user.is_authenticated %}
Hi {{ current_user.name }}!
{% endif %}
    {{existing_patient_names}}
    <a href="/add_new_patient"><button>add new patient</button></a>
    <form action="/patient_file" method="post">
        <select name="n" id="n" >
            {% for patient in patients %}
                <option value="{{ patient.name }}">
                    {{ patient.name }}
                </option>
                
            {% endfor %}
            
        </select>
        <button type="submit" value="submit">go to patient file</button>
    </form>
    {{patients}}

{% endblock %}