{% extends 'layout.html' %}

{% block body %}
<h1>choose panil</h1>
<a href="/admin_panil">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Doctor panil</h5>
          <p class="card-text">monitor financials and access patient files</p>
        </div>
      </div>
</a>


<a href="/reciption_panil">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">reciption panil </h5>
          <p class="card-text">recerve appointments ....</p>
        </div>
      </div>
</a>       

{% endblock %}