<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic analytics</title>
</head>
<body>
    <nav class="index_nav" >
        <div >
          <a class="navbar-brand" href="#">
            <img src="/static/dental_manager_logo-removebg-preview.png" alt="" width="300" height=auto>
          </a>
        </div>
        <div>
            <a href="/admin_panil"><button class="button_blue" style="height: 8vh;">admin panil</button></a>
            
        </div>
    </nav>
    TODO
</body>
</html>