{% extends 'layout.html' %}

{% block body %}
{{patient_name}}
    &nbsp; &nbsp;
    <form name="diagnosis_form" method="post">
        <input type="hidden" name="tooth" value="UL1">
        <input type="hidden" name="patient_name" value="{{patient_name}}">
        missed 
        <input type="radio" name="missed" id="" value=False checked>exist
        <input type="radio" name="missed" id="" value=True>missed
        
        <br>

        filled
        <input type="radio" name="filled" id="" value=False checked>non-filled
        <input type="radio" name="filled" id="" value=True>filled

        <br>
        decaied
        <input type="radio" name="decaied" id="" value=False checked>sound
        <input type="radio" name="decaied" id="" value=True >decaied

        <br>

        rooth canal teated
        <input type="radio" name="rct" id="" value=False checked>no
        <input type="radio" name="rct" id="" value=True>root canal treated
        
        <br>

        
        <input type="submit" value="submit">
    </form>    


{% endblock %}