{% extends 'layout.html' %}

{% block title %} register {% endblock %}

{% block body %}
    {% if email %}
        <h1>you are loged in as {{email}}</h1>
    {% else %}
        <form  method="post">
            <!--very important -->
            {{form.hidden_tag()}}

            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control", id="exampleInputEmail1")}}
            
            {{form.password.label(class="form-label")}}
            {{form.password(class="form-control", id="exampleInputEmail1")}}

            {{form.submit}}

        </form>
    {% endif %}

{% endblock %}