{% extends 'layout.html'%}

{% block title %} patient file {% endblock %}

{% block body %}
<section>

<h1>patient personal information</h1>

<table class="table table-striped">
    <tr>
      <th>id</th>
      <th>patient name</th>
      <th>gender</th>
      <th>birth year</th>
      <th>adress</th>
      <th>phonr number</th>
      <th>email</th>
      <th>medical_history</th>


    </tr>
    {% for patient in patient_info %}
        {% if patient['name'] == selected_patient_name:%}
            <tr>
            <td>{{ patient['id'] }}</td>
            <td>{{ patient['name'].strip('0123456789') }}</td>
            <td>{{ patient['gender'] }}</td>
            <td>{{ patient['birth_year'] }}</td>
            <td>{{ patient['adress'] }}</td>
            <td>{{ patient['phone_number'] }}</td>
            <td>{{ patient['email'] }}</td>
            <td>{{ patient['medical_history'] }}</td>

        {% endif %}
        </tr>
    {% endfor %}
  </table>


</section>

<form name= 'name_form'action="/diagnosis" method="get">
    <input type="hidden" name="patient_name" value="{{selected_patient_name}}">
    <input type="submit" value="add diagnosis">
</form>

<section>
    <h1>TODO procedures</h1>
    <table class="table table-striped">
        <tr>
          <th>id</th>
          <th>patient id</th>
          <th>operator</th>
          <th>procedure type</th>
          <th>tooth</th>
          <th>procedure date</th>
          <th>price</th>
          <th>description</th>
    
        </tr>
        {% for procedure in procedure_info %}
            {% if procedure['patient_name'] == selected_patient_name:%}
                <tr>
                <td>{{ procedure['id'] }}</td>
                <td>{{ procedure['patient_name'].strip('0123456789') }}</td>

                {% for operator in operator_info: %}
                    {% if operator['id'] == procedure['operator_id']:%}
                <td>{{ operator['name'] }}</td>
                    {% endif %}
                {% endfor %}

                <td>{{ procedure['procedure_type'] }}</td>
                <td>{{ procedure['tooth'] }}</td>
                <td>{{ procedure['procedure_date'] }}</td>
                <td>{{ procedure['price'] }}</td>
                <td>{{ procedure['description'] }}</td>

            {% endif %}
            </tr>
        {% endfor %}
      </table>

</section>

<section>
<!--if procedure
        procedure added succesfully <btn>add new procedure</btn>(direct to the same page)
    else
        procedure form-->
    <h1>add new procedure</h1>

    <!--
    <form  method="get">
        
        <label for="operator_name">operator name</label>
        <select name="operator_name" id="">
            {% for operator in operators%}
                <option value="{{ operator['name'] }}">{{operator['name']}}</option>
            {% endfor %}
        </select>
        {{operators.name}}
        <label for="procedure_type">procedure type</label>
        
        <select name="procedure_type">
            <option value="endo">Root canal treatment</option>
            <option value="operative">Composit filling</option>
            <option value="scalling">Scalling</option>
            <option value="crown"> Crown</option>
            <option value="bridge">Bridge</option>
            <option value="implant">Implant</option>
            <option value="surgery">Surgery</option>

            <option value="other">Other</option>
            
        </select>

        <label for="teeth">teeth</label>
        <input type="text" name="teeth">

        <label for="price">price</label>
        <input type="number" name="price" value="0" required>

        <label for="description">description</label>
        <textarea name="description" id="" cols="10" rows="2" placeholder="description"> </textarea>
        

        <input type="hidden" name="patient_name" value="{{selected_patient_name}}">

        <input type="submit" value="sibmit">
    </form-->
    
    <!--form  action="/patient_file" method="post">
        {{procedure_form.hidden_tag()}}

        {{procedure_form.operator_name.label}}
        {{procedure_form.operator_name}}

        {{procedure_form.procedure_type.label}}
        {{procedure_form.procedure_type}}

        {{procedure_form.tooth.label}}
        {{procedure_form.tooth}}

        {{procedure_form.price.label}}
        {{procedure_form.price}}

        {{procedure_form.description.label}}
        {{procedure_form.description}}

        {{procedure_form.patient_name}}

        {{procedure_form.submit}}

    </form-->
    
    <!--a href="/added_procedure"><button>add new procedure</button></a-->
    <form action="/added_procedure" method="post">
        {{hidden_form.hidden_tag()}}
        {{hidden_form.selected_patient_name}}
        <input type="submit" value="add procedure">
    </form>

    
</section>
{% endblock %}